<div class="particle" *ngFor="let particle of particles" [ngStyle]="{'transform': 'translate(' + particle.x + 'px, ' + particle.y + 'px)'}"></div>

<div class="w-screen h-screen bg-cover bg-center">
  <div class="w-full h-full flex justify-center items-center">
    <div
      class="w-full m-6 lg:w-1/4 lg:mx-auto px-5 py-10 h-fit flex flex-col gap-2 rounded-md shadow-lg z-10
      border border-primary bg-secondary">

      <h2 class="text-4xl text-center font-bold text-white mb-6 font-sans">Fazer login</h2>

      <div class="flex flex-col gap-2">
          <input class="w-full bg-dark px-2 py-1 text-white" pInputText id="email" placeholder="Email" [(ngModel)]="user.email" />

          <input class="w-full bg-dark px-2 py-1 text-white" pInputText id="password" placeholder="Senha" [(ngModel)]="user.password" />

        <p-button class="font-bold text-white mt-2" label="Entrar"
                  [style]="{ width: '100%', padding: '0.25rem', 'background-color': '#ed145b' }"
                  (onClick)="onSubmit()" />
      </div>

      <p class="text-primary text-sm">
        Não possui conta?
        <span class="font-bold cursor-pointer" routerLink="../sign-up">
          Crie uma clicando aqui
        </span>
      </p>
    </div>
  </div>
</div>
