<div class="w-screen h-screen bg-cover bg-center" style="background-image: url('../../assets/bg-auth.png')">
    <div class="w-full h-full flex justify-center items-center">
        <div class="w-3/4 mx-auto lg:w-1/4 h-fit flex flex-col gap-2 bg-white px-5 py-10 rounded-md shadow-lg">
            <h2 class="text-4xl text-center mb-6">Fazer login</h2>

            <input type="text" name="email" placeholder="Email" [(ngModel)]="user.email"
                class="w-full border-2 border-gray-300 rounded-full px-4 py-2">

            <input type="password" placeholder="Senha" name="password" [(ngModel)]="user.password"
                class="w-full border-2 border-gray-300 rounded-full px-4 py-2">

            <button
                class="mt-5 w-full bg-[color:#0089D6] disabled:bg-blue-300 font-bold text-white rounded-full px-4 py-2 shadow-lg"
                (click)="onSubmit()">Entrar</button>

            <p class="text-blue-800">Não possui conta?
                <span class="font-bold cursor-pointer" routerLink="../sign-up">
                    Crie uma clicando aqui
                </span>
            </p>
        </div>
    </div>
</div>