<div *ngIf="verifyNotShow()"
    class="hidden lg:flex w-full h-20 justify-between px-32 items-center bg-[color:#0089D6] text-white">
    <span routerLink="../home" class="text-3xl font-extrabold">StudySpace</span>

    <div class="flex gap-2" routerLink="../user">
        <img *ngIf="user?.imageUrl.length > 0" [src]="user?.imageUrl" alt="Imagem do usuário"
            class="rounded-full w-12 h-12 object-cover">
        <img *ngIf="user?.imageUrl.length == 0"
            src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
            alt="Imagem do usuário" class="rounded-full w-12 h-12 object-cover">
        <span class="w-48 text-white text-lg mt-2 font-bold truncate">{{ user?.name }}</span>
    </div>
</div>

<div *ngIf="verifyNotShow()"
    class="w-full h-20 flex lg:hidden justify-between px-4 items-center bg-[color:#0089D6] text-white">
    <span routerLink="../home" class="text-3xl font-extrabold">StudySpace</span>

    <div class="flex gap-2" routerLink="../user">
        <img *ngIf="user?.imageUrl.length > 0" [src]="user?.imageUrl" alt="Imagem do usuário"
            class="rounded-full w-12 h-12 object-cover">
        <img *ngIf="user?.imageUrl.length == 0"
            src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
            alt="Imagem do usuário" class="rounded-full w-12 h-12 object-cover">
    </div>
</div>