<div class="p-3">
    <span class="text-gray-800 font-bold text-lg ">Postagem</span>

    <div class="flex flex-col gap-2 mt-2">
        <input class="w-full p-2 border border-gray-400 shadow-sm rounded-md" name="title" placeholder="Titulo"
            type="text" [(ngModel)]="post.title">

        <textarea class="w-full p-2 border border-gray-400 shadow-sm rounded-md" type="text" rows="5"
            placeholder="Compartilhe seus conhecimentos" [(ngModel)]="post.text" [maxlength]="280"></textarea>

        <div>
            <div class="p-3">
                <label for="input-group-search" class="sr-only">Buscar</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="text" id="input-group-search" [(ngModel)]="searchText" (input)="search()"
                        class="bg-gray-50 border border-gray-400 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                        placeholder="Procurar interesses">
                </div>
            </div>
            <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 border border-gray-400 rounded-md"
                aria-labelledby="dropdownSearchButton" (change)="setInterest($event)">
                <li *ngFor="let interest of filteredInterests">
                    <div class="flex items-center p-2 rounded hover:bg-gray-100">
                        <input id="checkbox-item-11" type="checkbox" [value]="interest.idInterest"
                            [checked]="verifyCheck(interest.idInterest)"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                        <label for="checkbox-item-11" class="w-full ms-2 text-sm font-medium text-gray-900 rounded">
                            {{ interest.text }}
                        </label>
                    </div>
                </li>
            </ul>
        </div>

        <input type="text" placeholder="Preencha com a URL da imagem" [(ngModel)]="imageUrl"
            class="bg-gray-50 border border-gray-400 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5">
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagem selecionado para o post">

        <div class="w-full flex gap-2 justify-end">
            <button
                class="flex gap-2 bg-red-500 text-white justify-center items-center px-2 py-1 rounded-md shadow-lg mt-2"
                (click)="closeDialog()">
                <i class="ph ph-bold ph-trash"></i>
                <span class="font-bold">Cancelar</span>
            </button>
            <button
                class="flex gap-2 bg-blue-500 text-white justify-center items-center px-2 py-1 rounded-md shadow-lg mt-2 disabled:bg-blue-300"
                (click)="onSubmit()">
                <i class="ph ph-bold ph-paper-plane-tilt"></i>
                <span class="font-bold">Enviar</span>
            </button>
        </div>
    </div>