<div class="particle" *ngFor="let particle of particles" [ngStyle]="{'transform': 'translate(' + particle.x + 'px, ' + particle.y + 'px)'}"></div>

<div class="w-screen h-screen bg-cover bg-center">
  <div class="w-full h-screen overflow-y-auto flex justify-center">
    <div
      class="w-full m-6 lg:w-1/4 lg:mx-auto h-fit px-5 py-10 flex flex-col gap-2 rounded-md shadow-lg z-10
      border border-primary bg-secondary">
      <h2 class="text-4xl text-center font-bold text-white mb-6 font-sans">Criar conta</h2>
      <input-file-component [directory]="'users'" (imageUrlEvent)="handleImageUrl($event)"></input-file-component>
      <input class="w-full bg-dark px-2 py-1 text-white" pInputText id="email" placeholder="Email" [(ngModel)]="user.email" />
      <input class="w-full bg-dark px-2 py-1 text-white" pInputText id="name" placeholder="Nome" [(ngModel)]="user.name" />
      <input class="w-full bg-dark px-2 py-1 text-white" pInputText id="password" placeholder="Senha" [(ngModel)]="user.password" />
      <textarea
        class="w-full bg-dark px-2 py-1 text-white rounded-md"
        rows="5"
        cols="30"
        pInputTextarea
        placeholder="Biografia"
        [(ngModel)]="user.bio">
      </textarea>
      <input class="w-full bg-dark px-2 py-1 text-white text-sm rounded-md" type="date" placeholder="Dt. Nacimento" name="birthdate" [(ngModel)]="user.birthdate">

      <p-dropdown
        [options]="['Masculino', 'Feminino', 'Outro']"
        [(ngModel)]="user.gender"
        [style]="{ width: '100%', 'background-color': '#171717', color: '#fff' }"
        placeholder="Selecione o gênero" />

      <div>
        <div class="py-3">
          <label for="input-group-search" class="sr-only">Buscar</label>
          <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
            </div>
            <input type="text" id="input-group-search" [(ngModel)]="searchText" (input)="search()"
              class="bg-secondary text-white border border-gray-600 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full ps-10 p-2.5"
              placeholder="Procurar interesses">
          </div>
        </div>
        <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 border border-gray-600 rounded-md"
          aria-labelledby="dropdownSearchButton" (change)="setInterest($event)">
          <li *ngFor="let interest of filteredInterests">
            <div class="flex items-center p-2 rounded hover:bg-dark hover:text-primary text-white">
              <input id="checkbox-item-11" type="checkbox" [value]="interest.idInterest"
                [checked]="verifyCheck(interest.idInterest)"
                class="w-4 h-4 text-primary bg-gray-100 border-gray-300 rounded appearance-none checked:bg-primary forced">
              <label for="checkbox-item-11" class="w-full ms-2 text-sm font-medium rounded">
                {{ interest.text }}
              </label>
            </div>
          </li>
        </ul>
      </div>

      <p-button class="font-bold text-white mt-2"
                [disabled]="user?.email?.length < 0 || user?.name?.length < 0 || user?.password?.length < 6 || user?.bio?.length < 0 || !user?.birthdate"
                label="Criar"
                [style]="{ width: '100%', padding: '0.25rem', 'background-color': '#ed145b' }"
                (onClick)="onSubmit()" />
    </div>
  </div>


</div>
