<div class="w-screen h-screen bg-cover bg-center" style="background-image: url('../../assets/bg-auth.png')">
  <div class="w-full h-full flex justify-center items-center">

    <div class="w-1/4 h-fit flex flex-col gap-2 bg-white px-5 py-10 rounded-md shadow-lg">
      <h2 class="text-4xl text-center mb-6">Criar conta</h2>

      <input type="text" name="email" placeholder="Email" [(ngModel)]="user.email"
        class="w-full border-2 border-gray-300 rounded-full px-4 py-2">

      <input type="text" placeholder="Nome" name="name" [(ngModel)]="user.name"
        class="w-full border-2 border-gray-300 rounded-full px-4 py-2">

      <input type="password" placeholder="Senha" name="password" [(ngModel)]="user.password"
        class="w-full border-2 border-gray-300 rounded-full px-4 py-2">

      <textarea type="text" name="bio" placeholder="Biografia" [(ngModel)]="user.bio"
        class="w-full border-2 border-gray-300 rounded-xl px-4 py-2"></textarea>

      <input type="date" placeholder="Dt. Nacimento" name="birthdate" [(ngModel)]="user.birthdate"
        class="w-full border-2 border-gray-300 rounded-full px-4 py-2">

      <div>
        <select [(ngModel)]="user.gender" class="w-full border-2 border-gray-300 bg-white rounded-full px-4 py-2">
          <option selected value="1">Selecione o gênero</option>
          <option value="male">Masculino</option>
          <option value="female">Feminino</option>
          <option value="other">Outro</option>
        </select>
      </div>

      <div>
        <div class="p-3">
          <label for="input-group-search" class="sr-only">Buscar</label>
          <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
            </div>
            <input type="text" id="input-group-search" [(ngModel)]="searchText" (input)="search()"
              class="bg-gray-50 border border-gray-400 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
              placeholder="Procurar interesses">
          </div>
        </div>
        <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 border border-gray-400 rounded-md"
          aria-labelledby="dropdownSearchButton" (change)="setInterest($event)">
          <li *ngFor="let interest of filteredInterests">
            <div class="flex items-center p-2 rounded hover:bg-gray-100">
              <input id="checkbox-item-11" type="checkbox" [value]="interest.idInterest"
                [checked]="verifyCheck(interest.idInterest)"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
              <label for="checkbox-item-11" class="w-full ms-2 text-sm font-medium text-gray-900 rounded">
                {{ interest.text }}
              </label>
            </div>
          </li>
        </ul>
      </div>

      <!--select de interests-->
      <!--Imagem do usuário-->

      <button
        [disabled]="user.gender === '1' || (user.email.length < 0 || user.name.length < 0 || user.password.length < 6 || user.bio.length < 0 || !user.birthdate)"
        class="mt-5 w-full bg-[color:#0089D6] disabled:bg-blue-300 font-bold text-white rounded-full px-4 py-2 shadow-lg"
        (click)="onSubmit()">Criar</button>
    </div>
  </div>


</div>