<div class="w-full flex justify-center bg-blue-950 py-8">
    <div class="text-white flex flex-col gap-2 items-center">
        <img [src]="user.userPicUrl" alt="Imamgem do usuário" class="w-[150px] h-[150px] object-cover rounded-lg">
        <span class="font-bold text-2xl">{{ user.name }}</span>

        <div class="flex gap-2">
            <div class="px-3 py-1 rounded-full bg-white bg-opacity-40">
                <span class="font-bold uppercase">Matemática</span>
            </div>
            <div class="px-3 py-1 rounded-full bg-white bg-opacity-40">
                <span class="font-bold uppercase">Programação</span>
            </div>
            <div class="px-3 py-1 rounded-full bg-white bg-opacity-40">
                <span class="font-bold uppercase">Analise de dados</span>
            </div>
        </div>
    </div>
</div>

<div class="w-full h-screen flex bg-slate-100">
    <div class="w-full flex gap-5 mt-5">
        <div class="w-3/5 mb-2">
            <div class="w-11/12 h-fit mx-auto">
                <div class="mb-5">
                    <span class="text-slate-600 text-xl">Últimos posts</span>
                </div>
                <app-post *ngFor="let post of posts" [post]="post"></app-post>
            </div>
        </div>
        <div class="w-2/5">
            <div class="w-11/12 h-fit mx-auto">

                <div class="mb-5">
                    <span class="text-slate-600 text-xl">Histórico de atividades</span>

                    <div class="bg-white w-full h-fit rounded-lg shadow-md">

                    </div>
                </div>

                <div class="mb-5">
                    <span class="text-slate-600 text-xl">Últimas atividades</span>
                </div>
            </div>
        </div>
    </div>
</div>