<div class="w-full h-fit min-h-full flex bg-secondary">
    <div class="w-2/6 h-screen ml-6 hidden md:block bg-secondary">
        <div class="w-full h-fit border-2 border-gray-400 mt-5 p-5 rounded-lg shadow-md">
            <span class="text-white font-bold text-xl">Interesses</span>
            <div class="flex flex-wrap gap-2 mt-4">
                <div *ngFor="let interest of interests" [class]="'w-fit p-1 text-white border-2 border-primary px-1 rounded-md ' + (interest === interestSelected ? 'bg-primary' : 'bg-secondary') "
                    (click)="filterPostsByInterests(interest.idInterest)">
                    <span class="mr-2">{{ interest.text }}</span>
                    <span class="px-2 bg-primary rounded-md text-white font-bold">{{ interest?.posts?.length }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full flex gap-5 mt-5 bg-secondary">
        <div class="w-11/12 mx-auto mb-2">
            <div class="w-full h-fit mx-auto">
              <div class="flex justify-between px-3 my-4 border-2 border-gray-400 py-2 rounded-lg">
                <button (click)="goTo('post')"
                  class="flex gap-2 bg-primary text-white justify-center items-center px-2 py-1 rounded-md shadow-lg">
                  <span class="font-bold">Posts</span>
                </button>
                <button (click)="goTo('cursos')"
                  class="flex gap-2 bg-secondary border-2 border-primary text-primary justify-center items-center px-2 rounded-md shadow-lg">
                  <span class="font-bold">Cursos</span>
                </button>
                <button (click)="goTo('roadmaps')"
                  class="flex gap-2 bg-secondary border-2 border-primary text-primary justify-center items-center px-2 rounded-md shadow-lg">
                  <span class="font-bold">Roadmaps</span>
                </button>
                </div>

              <div class="w-full h-fit px-5 py-2 bg-secondary rounded-lg shadow-md flex justify-between items-center border-2 border-gray-400 mt-8" (click)="openPostDialog()">
                <p class="text-gray-400 whitespace-nowrap">Compartlhe seus conhecimentos!</p>
                <i class="ph ph-image text-2xl ml-2 text-gray-400"></i>
              </div>

                <div class="mt-5 mb-3">
                    <span class="text-white font-bold text-xl">Últimos posts</span>
                </div>

                <div class="w-full">
                    <div class="w-full flex flex-col gap-5" *ngIf="!interestSelected">
                        <app-post *ngFor="let post of posts" [post]="post"></app-post>
                    </div>
                    <div *ngIf="interestSelected">
                        <span (click)="interestSelected = null"
                            class="w-fit h-fit px-2 py-1 border-2 border-primary bg-secondary text-white flex justify-center items-center gap-2 rounded-full mb-2">
                            <i class="ph ph-bold ph-x-circle text-primary"></i> Remover filtro
                        </span>
                        <div *ngIf="interestSelected.posts && interestSelected.posts.length"
                            class="w-full flex flex-col gap-5">
                            <app-post *ngFor="let post of interestSelected.posts" [post]="post"></app-post>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
